#root {
  width: 100%;
  max-width: 1024pt;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
}

Footer a {
  color: #ccc;
}

.Collapse-no-interior-padding .ant-collapse-content-box {
  padding: 0 !important;
}
